.bg-tokens{
  background-image: linear-gradient(180deg, #1d2442, #0b0e1a);
  background-image: -webkit-linear-gradient(180deg, #1d2442, #0b0e1a);
  background-image: -moz-linear-gradient(180deg, #1d2442, #0b0e1a);
}