.background-possibilities{
  background-image: linear-gradient(270deg, #0b0e1a ,  #010203);
  background-image: -moz-linear-gradient(270deg, #0b0e1a ,  #010203);
  background-image: -webkit-linear-gradient(270deg, #0b0e1a ,  #010203);
}