.background-hero-gradient{
  background-image: linear-gradient(rgba(255,255,255,0.6) ,#0f3159, #0f3159);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.6) ,#0f3159, #0f3159);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.6) ,#0f3159, #0f3159);
}

.video-bg-adjustment {
  background-image: linear-gradient(180deg,rgba(15, 49, 89, 1), rgba(255,255,255,0) , rgba(15, 49, 89, 1));
  background-image: -moz-linear-gradient(180deg,rgba(15, 49, 89, 1), rgba(255,255,255,0) , rgba(15, 49, 89, 1));
  background-image: -webkit-linear-gradient(180deg,rgba(15, 49, 89, 1), rgba(255,255,255,0) , rgba(15, 49, 89, 1));
}

.left-card{
  position: absolute;
  transform: translate(-15%, 0%) scale(0.7);
  z-index: 1;
  opacity: 0.7;
  transition: all 1s ease;
  cursor: pointer;
}

.main-card{
  position: absolute;
  transform: translate(50%, 0%);
  z-index: 2;
  transition: all 1s ease;
  cursor: pointer;
}

.right-card{
  position: absolute;
  transform: translate(115%, 0%) scale(0.7);
  z-index: 1;
  opacity: 0.7;
  transition: all 1s ease;
  cursor: pointer;
}

.not-show{
  position: absolute;
  transform: translate(50%, 0%) scale(0);
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}

.left-logo{
  transform: translate(-200%, 0%) scale(0.9);
  z-index: 1;
  transition: all 1s ease;
  cursor: pointer;
}

.main-logo{
  transform: translate(-15%, 0%);
  z-index: 2;
  transition: all 1s ease;
  cursor: pointer;
}

.right-logo{
  transform: translate(200%, 0%) scale(0.9);
  z-index: 1;
  transition: all 1s ease;
  cursor: pointer;
}

.not-show-logo{
  position: absolute;
  transform: translate(50%, 0%) scale(0);
  z-index: 1;
  opacity: 0;
  transition: all 1s ease;
}

.bg-linear-gradientMobile{
  background-image: linear-gradient(180deg,rgba(15, 49, 89, 0), rgba(255,255,255,0) , rgba(15, 49, 89, 0));
  background-image: -moz-linear-gradient(180deg,rgba(15, 49, 89, 0), rgba(255,255,255,0) , rgba(15, 49, 89, 0));
  background-image: -webkit-linear-gradient(180deg,rgba(15, 49, 89, 0), rgba(255,255,255,0) , rgba(15, 49, 89, 0));
}


@media (min-width:1306px ) {
  .left-logo{
    transform: translate(-250%, 0%) scale(0.9);
    z-index: 1;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .main-logo{
    transform: translate(-50%, 0%);
    z-index: 2;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .right-logo{
    transform: translate(200%, 0%) scale(0.9);
    z-index: 1;
    transition: all 1s ease;
    cursor: pointer;
  }
}


@media (max-width: 1023px)
{
  .left-card{
    position: absolute;
    transform: translate(-30%, 0%) scale(0.7);
    z-index: 1;
    opacity: 0.7;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .main-card{
    position: absolute;
    transform: translate(10%, 0%);
    z-index: 2;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .right-card{
    position: absolute;
    transform: translate(50%, 0%) scale(0.7);
    z-index: 1;
    opacity: 0.7;
    transition: all 1s ease;
    cursor: pointer;
  }

  .left-logo{
    transform: translate(-100%, 0%) scale(0.6);
    z-index: 1;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .main-logo{
    transform: translate(0%, 0%) scale(0.7);
    z-index: 2;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .right-logo{
    transform: translate(100%, 0%) scale(0.6);
    z-index: 1;
    transition: all 1s ease;
    cursor: pointer;
  }

}

@media (max-width: 760px){
  .bg-linear-gradientMobile{
    background-image: linear-gradient(90deg,rgba(15, 49, 89, 1) 60%, rgba(255,255,255,0) );
    background-image: -moz-linear-gradient(90deg,rgba(15, 49, 89, 1) 60%, rgba(255,255,255,0) );
    background-image: -webkit-linear-gradient(90deg,rgba(15, 49, 89, 1) 60%, rgba(255,255,255,0) );
  }
  .left-logo{
    order: 1;
    transform: translate(0,0) scale(0.6);
    z-index: 20;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .main-logo{
    order: 2;  
    transform: translate(0,0) scale(0.6);
    z-index: 21;
    transition: all 1s ease;
    cursor: pointer;
  }
  
  .right-logo{
    order: 3;
    transform: translate(0,0) scale(0.6);
    z-index: 20;
    transition: all 1s ease;
    cursor: pointer;
  }
}